
		<div class="content">
		<div class="details">
		Original release date: <span>Sat, 4 Jul 2015</span>
		</div>
<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                        <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">♬ Daaa da da da daaaaaaa daaaa da da da da daaaaaaa ♬</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">Happy 4th of July, Mort! So uh...why are you singing the graduation song?</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                        <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                        <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">Is that the graduation song? Sorry I meant to sing this:
♬ Bum ba bum bum bum bum baaaaaa da da dun dun dun dun ba ba ba ♬</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">You meant to sing the French national anthem? On the 4th of July?</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                        <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                        <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">Shoot! No! Ok, I've got it this time. Are you ready?
♬ Ba da BUP ba da da da da ♬
</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">Ok, that one's just Wake Me Up Before You Go-Go. That's not even close to the national anthem.</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                        <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                        <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">HAPPY 4TH OF JULY EVERYBODY!!!</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table>
		</div>
		