
		<div class="content">
		<div class="details">
		Original release date: <span>Tue, 31 Jan 2017</span>
		</div>
<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:68px">
                    <img alt="Mortimer" height="59" src="http://d3rqdbvvokrlbl.cloudfront.net/images/email/monkey-left.2.png" title="Mortimer" width="68">
                </td>
            <td style="border: 1px solid #0888EB; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">hey monte! what happens when a frog's car breaks down?</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="border: 1px solid #72A00C; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">i don't know. tell me what happens when a frog's car breaks down.</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:77px">
                    <img alt="Monte" height="57" src="http://d3rqdbvvokrlbl.cloudfront.net/images/email/monkey-right.2.png" title="Monte" width="77">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:68px">
                    <img alt="Mortimer" height="59" src="http://d3rqdbvvokrlbl.cloudfront.net/images/email/monkey-left.2.png" title="Mortimer" width="68">
                </td>
            <td style="border: 1px solid #0888EB; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">it gets TOAD away!!</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="border: 1px solid #72A00C; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">right, of course it would. most broken cars get towed away.</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:77px">
                    <img alt="Monte" height="57" src="http://d3rqdbvvokrlbl.cloudfront.net/images/email/monkey-right.2.png" title="Monte" width="77">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:68px">
                    <img alt="Mortimer" height="59" src="http://d3rqdbvvokrlbl.cloudfront.net/images/email/monkey-left.2.png" title="Mortimer" width="68">
                </td>
            <td style="border: 1px solid #0888EB; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">no, no, i mean TOAD. like...toad. like...uh. hmmm.</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:68px">
                    <img alt="Mortimer" height="59" src="http://d3rqdbvvokrlbl.cloudfront.net/images/email/monkey-left.2.png" title="Mortimer" width="68">
                </td>
            <td style="border: 1px solid #0888EB; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">this has backfired. </p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="border: 1px solid #72A00C; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">*pumps fist in quiet triumph*</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:77px">
                    <img alt="Monte" height="57" src="http://d3rqdbvvokrlbl.cloudfront.net/images/email/monkey-right.2.png" title="Monte" width="77">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table>
		</div>
		