
<div class="content">
<div class="details">
Original release date: <span>Thu, 12 Mar 2020</span>
</div>
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;"><tbody><tr><td style="width:290px;"><a href="https://r.woot.com/gp/r.html?C=EPZQV9QQS4X&K=3M33F8KYJWTD3&M=urn:rtn:msg:202003120639295264a8c3e1a046d88cbe18327cb0p0na&R=123J942K7RAUF&T=C&U=https%3A%2F%2Ftools.woot.com%2Fplus%2Fmonkey-bar-favorites%3Futm_campaign%3DDaily%2BDigest%2B12%2B03%2B20%26ref%3Deml%26utm_source%3DDaily%2BDigest%26utm_medium%3Demail%26utm_term%3Dp_1%26utm_content%3DSubheader-B%26ref_%3Dpe_3185080_484942690&H=UTUZSHQ8GQ7DOI9M8VPNVOHPWIWA&ref_=pe_3185080_484942690" target="_blank"><img height="auto" src="https://d3gqasl9vmjfd8.cloudfront.net/b861a90d-d348-4394-983a-59579012d701.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;" width="290"></a></td></tr></tbody></table>
</div>
