<!DOCTYPE html>

<html>
	<head>
		<title>The Woot Monkeys</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/static/js/ajax.js"></script>
		<link type="text/css" rel="stylesheet" href="/static/css/base.css?v=1.0">

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-40812082-1', 'auto');
ga('send', 'pageview');

</script>
<!-- End Google Analytics -->

	</head>

	<body>
	<div class="container">

		<div class="header">
		<!--div class="nav">
		<a href="/">Home</a>
		<a href="/contact">Contact</a>
		<a href="/donate">Donate</a>
		<a href="/about">About</a>
		</div-->
		<h1>The Dialogues of Monte and Mortimer</h1>
		</div>

		<div class="body">

		<div class="nav">
		<a href="{{first}}">|&lt; First</a>
		<a href="{{prev}}">&lt; Prev</a>
		<a href="/random">Random</a>
		<a href="{{next}}">Next &gt;</a>
		<a href="{{last}}">Last &gt;|</a>
		</div>


<!--[ BEGIN CONTENT ]-->
<div class="content-container">
<div class="vote-buttons">
	<a id="dialog-{{clip_id}}-upvote" title="I like this dialog (click again to undo)" class="ajax-command dialog-vote up " href="/vote/{{clip_id}}/up" rel="nofollow"> </a>
	<div id="dialog-{{clip_id}}-score" class="dialog-score" title="current number of votes">
		{{votes}}
	</div>
	<a id="dialog-{{clip_id}}-downvote" title="I don't like this dialog (click again to undo)" class="ajax-command dialog-vote down" href="/vote/{{clip_id}}/down" rel="nofollow"> </a>
</div>

<div class="vote">
    <input type="hidden" name="_id_" value="643879">
    <a class="vote-up-off" title="I like this dialogue">Vote up</a>
    <span class="vote-count-post ">0</span>
    <a class="vote-down-off" title="I don't like this dialogue">Vote down</a>

    <a class="star-off" href="#" title="This is a favorite dialogue (click again to undo)">favorite</a>
    <div class="favoritecount"><b>0</b></div>
</div>
{% autoescape false %}
{{monkey_dialog}}
{% endautoescape %}
</div>
<!--[ END CONTENT ]-->


		<div class="nav">
		<a href="{{first}}">|&lt; First</a>
		<a href="{{prev}}">&lt; Prev</a>
		<a href="/random">Random</a>
		<a href="{{next}}">Next &gt;</a>
		<a href="{{last}}">Last &gt;|</a>
		</div>

		</div><!--[ .body ]-->

		<div id="disclaimer" class="footer">
		Website created by <a href="mailto:apwest+alpha.omega.designs@gmail.com">Alpha-Omega Designs</a> &copy; 2013
		<br>
		Mortimer and Monte are registered trademarks of <a href="http://www.woot.com" target="_top">woot.com</a>
		<br>
		Content taken from woot daily digest emails - <a href="https://account.woot.com/signup">sign up here</a>
		<br><br>
		<strong>Disclaimer</strong>
		<br>I am not affiliated with woot.com or its affiliates.
		<br>I am merely a fan of Mortimer and Monte, just like you.
		<br>By <a href="http://deals.woot.com/questions/details/e2100db3-2c0e-4217-b33d-03a6d9f3223b/are-the-conversations-of-mortimer-and-monte-in-the-woot-daily-digest-archived-any">
		popular demand</a>, I've created an archive of the duo's dialogs.
		</div>

	</div>

	</body>

</html>
