
		<div class="content">
		<div class="details">
		Original release date: <span>Thu, 22 Dec 2011</span>
		</div>
<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">I'm telling you, Mortimer, do NOT give me a broken photocopier. If you want to give me a gift, make a donation to a charity or something.</p>
            </td>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">OK, sure. I'll call one right now and see what they want. Hello? Is this the Helping People Organization That Helps People? I'd like to make a donation. Oh, that's what you want? I sure will! You're welcome!</p>
            </td>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Let me guess -</p>
            </td>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">They told me to give you a broken photocopier.</p>
            </td>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Mortimer, that "charity" you "called" doesn't exist.</p>
            </td>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Hey, I'm just trying to help the HPOTHP, not interrogate them.</p>
            </td>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table>
		</div>
		