
		<div class="content">
		<div class="details">
		Original release date: <span>Fri, 3 Feb 2012</span>
		</div>
<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Well, they bought it. I don't have to pay back the money for those elephant rides I bought with the company card.</p>
            </td>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Wow. How'd you manage that?</p>
            </td>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Just went in there and made my case. Dropped a truth bomb on 'em. Told 'em what was what. People respond to a firm, forceful personality.</p>
            </td>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Really? Because I heard you have to dress up as an elephant for the CFO's daughter's birthday party and give all the kids rides.</p>
            </td>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">I'm sorry, the details of that agreement are confidential.</p>
            </td>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table>
		</div>
		