
		<div class="content">
		<div class="details">
		Original release date: <span>Tue, 13 Mar 2012</span>
		</div>
<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Well, I'm bummed that Spring Harvest 2012 is over. But at the networking event I got offered a job at a great new spring-manufacturing start up.</p>
            </td>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Wait, you mean you're leaving?!</p>
            </td>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">No. Unfortunately it would require a significant pay cut, so I turned it down.</p>
            </td>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Wow, Monte! I'm flattered it was our friendship that kept you here!</p>
            </td>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">But that's not what I said...</p>
            </td>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Sometimes I replace what I hear with compliments. It's the only way I can get through life.</p>
            </td>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table>
		</div>
		