
		<div class="content">
		<div class="details">
		Original release date: <span>Tue, 20 Mar 2012</span>
		</div>
<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Woot-Off today! Are you as excited about it as I am?</p>
            </td>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Bleh. Every one just seems to lower the bar even further than the last one.</p>
            </td>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Well, I don't think so. But if you find them so disappointing, why don't you just stop following them?</p>
            </td>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Yeah, right! That's just what they want me to do! The minute I stop paying attention, they'll post something I really want!</p>
            </td>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">That's ridiculous. "They" have no way of knowing whether you're watching or not. Anyway, don't you think Woot would want to maximize the number of people seeing their best deals so they could - Hey, are you listening to me?</p>
            </td>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">What? Oh, sorry, I was buying this bulletproof iPad cover. I <i>just</i> managed to snag one before it sold out! This is the best Woot-Off ever!</p>
            </td>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table>
		</div>
		