
		<div class="content">
		<div class="details">
		Original release date: <span>Wed, 11 Jul 2012</span>
		</div>
<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">     
                </td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">Take a good look at me, Monte, because the next time you see me, I'll be wearing a top hat filled with champagne and smoking a diamond cigar.</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td> 
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">You're not driving another load of cans to Michigan again, are you? They're not really going to give you a dime for each one, you know.</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">     
                </td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">No, not that. I'm going to quit my job with no notice, then turn around and offer my services to Woot as a consultant at twice what I make now! They'll have no choice but to pay up!</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td> 
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">And what services would those be, exactly?</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">     
                </td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">You know. Everything I do at my job now. All that stuff. Work stuff or whatever. Like, uh... OK, maybe I better think this through a little more.</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td> 
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">I can consult on that for you. But I warn you, I'm not cheap.</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table>
		</div>
		