
		<div class="content">
		<div class="details">
		Original release date: <span>Mon, 13 Aug 2012</span>
		</div>
<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">     
                </td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">Hey, don't the crazy low prices on back-to-school gear in <a href="http://woot.us1.list-manage.com/track/click?u=e6217fba00b9cdcae52e4e72e&id=ac6de1f24d&e=eb188a818f">Woot's Dealgebra 101 event</a> remind you of that time we saw Mr. Fortner pulling a used coffee filter out of the teacher's lounge trashcan? He was so cheap! </p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td> 
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">We didn't go to school together.</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">     
                </td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">Or that time we saw him filling his pockets with those little plastic cups full of nondairy creamer at the gas station? What a skinflint!</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td> 
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">I don't know who Mr. Fortner is. But if he was a teacher, I bet he didn't make that much money, and he was just trying to economize so he could afford to pursue his dream of inspiring young minds like yours.</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">     
                </td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">Oh, now you're all full of compassion? Where were you when we were all making fun of Mr. Fortner for bringing his baloney sandwiches to school wrapped in old McDonald's burger wrappers? You weren't too high and mighty to laugh then, were you?</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td> 
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">Sigh...</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table>
		</div>
		