
		<div class="content">
		<div class="details">
		Original release date: <span>Tue, 4 Sep 2012</span>
		</div>
<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">Hey, did you see the Woot writers when you were <a href="http://woot.us1.list-manage.com/track/click?u=e6217fba00b9cdcae52e4e72e&id=7011603282&e=eb188a818f">at the big PAX gamer convention</a> last weekend?</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">     
                </td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">I don't want to talk about it. A pox on PAX, I say.</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td> 
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">Oh, I see... your costume didn't go over too well with the crowd, huh?</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">     
                </td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">For such an important character in gaming history, you'd really expect the yellow piece from Sorry to get more respect.</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td> 
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table>
		</div>
		