
		<div class="content">
		<div class="details">
		Original release date: <span>Tue, 18 Sep 2012</span>
		</div>
<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">     
                </td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">Hey, Monte! Tell the nice people all about <a href="http://woot.us1.list-manage2.com/track/click?u=e6217fba00b9cdcae52e4e72e&id=23f313ab93&e=eb188a818f">The Search for Crapbeard's Treasure</a>, our Woot-Off treasure hunt!</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td> 
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">Uh... I'd really... rather not...</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">     
                </td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">Go ahead! Explain how certain Woot-Off sales have pieces of a treasure map hidden inside them, and how they can assemble those pieces to discover a very special Woot treasure! Go on!</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td> 
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">No, it's... seriously, I just don't want to... you know... think about it anymore...</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">     
                </td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">Aww, c'mon! You're not still grossed out by the name "Crapbeard", are you?</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td> 
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">Ugh! Don't say it! A beard of crap... I just can't get that... that <i>picture</i> out of my head...</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table>
		</div>
		