
		<div class="content">
		<div class="details">
		Original release date: <span>Mon, 10 Oct 2011</span>
		</div>
<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Hey, did you see that this week's video Wootcast is <a href="http://woot.us1.list-manage.com/track/click?u=e6217fba00b9cdcae52e4e72e&id=ca8322cb9e&e=eb188a818f">an interview with Ken Jennings</a>?</p>
            </td>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Mm-hm.</p>
            </td>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">And that you can <a href="http://woot.us1.list-manage.com/track/click?u=e6217fba00b9cdcae52e4e72e&id=53c2163873&e=eb188a818f">see the full interview</a> on the Woot blog?</p>
            </td>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Yeah, yeah.</p>
            </td>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Well, what did you think of it? I thought it was funny and insightful - how about you?</p>
            </td>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Monte" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_right.png" title="Monte" width="78">
                </td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:620px">
        <tr>

                <td style="margin:0; padding:0; vertical-align:middle; width:78px">
                    <img alt="Mortimer" height="58" src="https://d2w0pyk7viytzg.cloudfront.net/monkey_left.png" title="Mortimer" width="78">
                </td>

            <td style="background:#f1f1f1; font-size:12px; line-height:18px; margin:0; padding:0; text-align:left; width:375px">

                <p style="color:#000; font-family:'Trebuchet MS',Trebuchet,Calibri,Tahoma,Arial,sans-serif; font-size:12px; line-height:18px; margin:15px; padding:0; width:345px">Wait, what? Look, when you keep babbling to me about- about- whatever it is you're talking about, it's REALLY hard for me to concentrate on drawing this picture of Cobra Commander.</p>
            </td>

                <td style="margin:0; padding:0; width: 167px">&nbsp;</td>

        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table>
		</div>
		