
		<div class="content">
		<div class="details">
		Original release date: <span>Wed, 15 Mar 2017</span>
		</div>
<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:68px">
                    <img alt="Mortimer" height="59" src="http://d3rqdbvvokrlbl.cloudfront.net/images/email/monkey-left.2.png" title="Mortimer" width="68">
                </td>
            <td style="border: 1px solid #0888EB; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">BEWARE THE IDEAS OF MARCH.</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
            <td style="border: 1px solid #72A00C; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">It's the *Ides* of March.</p>
            </td>
                <td style="margin:0; padding:0; vertical-align:middle; width:77px">
                    <img alt="Monte" height="57" src="http://d3rqdbvvokrlbl.cloudfront.net/images/email/monkey-right.2.png" title="Monte" width="77">
                </td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table><table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 0 auto; padding:0; text-align:left; width:600px">
        <tr>
                <td style="margin:0; padding:0; vertical-align:middle; width:68px">
                    <img alt="Mortimer" height="59" src="http://d3rqdbvvokrlbl.cloudfront.net/images/email/monkey-left.2.png" title="Mortimer" width="68">
                </td>
            <td style="border: 1px solid #0888EB; font-size:12px; line-height:18px; margin:0; padding:15px; text-align:left; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px;">
                <p style="color:#000; font-family:Helvetica,'Helvetica Neue',Arial,sans-serif; font-size:12px; line-height:18px; margin:0; padding:0;">My idea is better.</p>
            </td>
                <td style="margin:0; padding:0; width: 147px">&nbsp;</td>
        </tr>
        <tr><td colspan="3" style="font-size:8px; height:10px">&nbsp;</td></tr>
    </table>
		</div>
		