
		<div class="content">
		<div class="details">
		Original release date: <span>Mon, 25 Sep 2017</span>
		</div>
<table cellpadding="0" cellspacing="0" border="0">
            	            <tr>
            	                
            	                <td align="left" rowspan="2" style="padding: 15.5px 25px 0">
            	                    <img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
            	                </td>
            	                <td style="width: 129px;">&nbsp;</td>
                	            <tr>
                	                <td align="left" style="padding: 8px 5px 8px 12px; width: 238px; border: 2px solid 	#00BFFF; border-radius: 10px;">
                	                    <p style="font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0;">Where are you going? </p>
                	                </td>
                	            </tr>
            	                
            	            </tr>
            	        </table><table cellpadding="0" cellspacing="0" border="0">
            	            <tr>
            	                
            	                <td style="width: 260px;">&nbsp;</td>
            	                <td style="width: 129px;">&nbsp;</td>
            	                <td rowspan="2" style="padding: 19.5px 25px 0">
    	                            <img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
    	                        </td>
        	                    <tr>
        	                        <td style="width: 260px;">&nbsp;</td>
        	                        <td style="padding: 8px 5px 8px 12px; border: 2px solid #679941; border-radius: 10px; width: 238px;">
            	                        <p style="padding: 9px 5px 7px 11px; font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0; line-height: 17px;">
            	                            Work... Why aren&#x27;t you dressed? We have an important meeting today. 
            	                        </p>
            	                    </td>
        	                    </tr>
            	                
            	            </tr>
            	        </table><table cellpadding="0" cellspacing="0" border="0">
            	            <tr>
            	                
            	                <td align="left" rowspan="2" style="padding: 15.5px 25px 0">
            	                    <img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
            	                </td>
            	                <td style="width: 129px;">&nbsp;</td>
                	            <tr>
                	                <td align="left" style="padding: 8px 5px 8px 12px; width: 238px; border: 2px solid 	#00BFFF; border-radius: 10px;">
                	                    <p style="font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0;">Oh I can&#x27;t come. I uh... broke my leg. </p>
                	                </td>
                	            </tr>
            	                
            	            </tr>
            	        </table><table cellpadding="0" cellspacing="0" border="0">
            	            <tr>
            	                
            	                <td style="width: 260px;">&nbsp;</td>
            	                <td style="width: 129px;">&nbsp;</td>
            	                <td rowspan="2" style="padding: 19.5px 25px 0">
    	                            <img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
    	                        </td>
        	                    <tr>
        	                        <td style="width: 260px;">&nbsp;</td>
        	                        <td style="padding: 8px 5px 8px 12px; border: 2px solid #679941; border-radius: 10px; width: 238px;">
            	                        <p style="padding: 9px 5px 7px 11px; font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0; line-height: 17px;">
            	                            You know I&#x27;m looking right at you. We live together. I know you didn&#x27;t break your leg. 
            	                        </p>
            	                    </td>
        	                    </tr>
            	                
            	            </tr>
            	        </table><table cellpadding="0" cellspacing="0" border="0">
            	            <tr>
            	                
            	                <td align="left" rowspan="2" style="padding: 15.5px 25px 0">
            	                    <img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
            	                </td>
            	                <td style="width: 129px;">&nbsp;</td>
                	            <tr>
                	                <td align="left" style="padding: 8px 5px 8px 12px; width: 238px; border: 2px solid 	#00BFFF; border-radius: 10px;">
                	                    <p style="font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0;">Well, I have plans to go skateboarding today. So maybe I will break my leg and then I won&#x27;t be able to come into work. In fact, I think I&#x27;m going to need to take the week off to recover... </p>
                	                </td>
                	            </tr>
            	                
            	            </tr>
            	        </table>
		</div>
		