
		<div class="content">
		<div class="details">
		Original release date: <span>Tue, 7 Nov 2017</span>
		</div>
<table cellpadding="0" cellspacing="0" border="0">
																<tr>												
																	<td align="left" style="padding: 15.5px 25px 0">
																		<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
																	</td>
																	<td align="left" style="padding: 8px 5px 8px 12px; width: 238px; border: 2px solid 	#00BFFF; border-radius: 10px;">
																		<p style="font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0;">I got a new volunteer for our office dodgeball team! </p>
																	</td>
																</tr>
															</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td style="padding: 8px 5px 8px 12px; border: 2px solid #679941; border-radius: 10px; width: 238px;">
																		<p style="padding: 9px 5px 7px 11px; font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0; line-height: 17px;">
																			That&#x27;s great! Is it Ted in accounting?  
																		</p>
																	</td>
																	<td style="padding: 19.5px 25px 0">
																		<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
																	</td>
																</tr>										
															</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>												
																	<td align="left" style="padding: 15.5px 25px 0">
																		<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
																	</td>
																	<td align="left" style="padding: 8px 5px 8px 12px; width: 238px; border: 2px solid 	#00BFFF; border-radius: 10px;">
																		<p style="font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0;">No, it&#x27;s Joey from the coffee shop next door. </p>
																	</td>
																</tr>
															</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td style="padding: 8px 5px 8px 12px; border: 2px solid #679941; border-radius: 10px; width: 238px;">
																		<p style="padding: 9px 5px 7px 11px; font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0; line-height: 17px;">
																			Um, Mort... He doesn&#x27;t work here.  
																		</p>
																	</td>
																	<td style="padding: 19.5px 25px 0">
																		<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
																	</td>
																</tr>										
															</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>												
																	<td align="left" style="padding: 15.5px 25px 0">
																		<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
																	</td>
																	<td align="left" style="padding: 8px 5px 8px 12px; width: 238px; border: 2px solid 	#00BFFF; border-radius: 10px;">
																		<p style="font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0;">Well, I couldn&#x27;t do my job without his coffee, so I think he&#x27;s eligible.  </p>
																	</td>
																</tr>
															</table>
		</div>
		