
		<div class="content">
		<div class="details">
		Original release date: <span>Tue, 21 Nov 2017</span>
		</div>
<table width="100%" align="center">
																			<tr>
																				<td width="300" height="30" align="center">		
																					<div align="left" style="font-family: verdana, arial; font-size: 15px; font-weight: bold; color:FFA800; padding-left: 20px;"><font color="#FFA800">
																					
																						
																							
																								<span style="font-family: verdana, arial; font-size: 15px; font-weight: bold; color:FFA800;"><font color="#FFA800"> Save 32%</font></span>
																							
																						
																					
																					</font>
																					</div>
																				</td>
																			</tr>
																			<tr>
																				<td width="300" align="center" height="325">
																					<a href="https://r.woot.com/gp/r.html?C=2H6HXXAUSQIYY&K=3M33F8KYJWTD3&M=urn:rtn:msg:20171121124140bb8b80f24ec44319bfeba6a2e620p0na&R=1QWKV78HYQTCA&T=C&U=https%3A%2F%2Fsellout.woot.com%2Foffers%2Flil-monkey-dome-climber-w-mobile-app-7%3Futm_campaign%3DDaily%2BDigest%2B21%2B11%2B17%26utm_content%3DA%26ref%3Deml%26utm_source%3DDaily%2BDigest%26utm_medium%3Demail%26utm_term%3Dp_2%26utm_content%3DA_NP_2%26ref_%3Dpe_3185080_262132080&H=B8XEXVBJ5HAHANWLTGTPY9A3IYKA&ref_=pe_3185080_262132080"><img src="https://d3gqasl9vmjfd8.cloudfront.net/ef5ea04c-ba79-4109-b4e6-b4309661c220.jpg" width="250" alt="" style="display:block; border:0;" class="img-fix" /></a><br/>
																						<div style="font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 21px; color: #000000; line-height: 26px; Margin-bottom: 5px; ">
																							Lil&#x27; Monkey Dome Climber w/ Mobile App
																					</div>
																					<div style="font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 18px; color: #000000; line-height: 18px; Margin-bottom: 5px; ">
																							
																							<b style="font-family: helvetica; font-size: 20px;">$87.99</b>
																								
																								
																								
																								<span style="text-decoration: line-through; font-family: helvetica; font-size: 13px; color: #6A7075; letter-spacing: 0;">$129.99 List Price</span>
																							
																							
																							
																												
																					</div>
																				</td>
																			</tr>
																			<tr>
																				<td width="300" align="center">
																					<a href="https://r.woot.com/gp/r.html?C=2H6HXXAUSQIYY&K=3M33F8KYJWTD3&M=urn:rtn:msg:20171121124140bb8b80f24ec44319bfeba6a2e620p0na&R=1QWKV78HYQTCA&T=C&U=https%3A%2F%2Fsellout.woot.com%2Foffers%2Flil-monkey-dome-climber-w-mobile-app-7%3Futm_campaign%3DDaily%2BDigest%2B21%2B11%2B17%26utm_content%3DA%26ref%3Deml%26utm_source%3DDaily%2BDigest%26utm_medium%3Demail%26utm_term%3Dp_2%26utm_content%3DA_NP_2%26ref_%3Dpe_3185080_262132080&H=B8XEXVBJ5HAHANWLTGTPY9A3IYKA&ref_=pe_3185080_262132080"><img src="https://m.media-amazon.com/images/G/01/woot/emails/shop_now_button._V516257957_.png" border="0"/></a>
																				</td>
																			</tr>
																		</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>												
																	<td align="left" style="padding: 15.5px 25px 0">
																		<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
																	</td>
																	<td align="left" style="padding: 8px 5px 8px 12px; width: 238px; border: 2px solid 	#00BFFF; border-radius: 10px;">
																		<p style="font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0;">Have you gotten your flu shot yet? </p>
																	</td>
																</tr>
															</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td style="padding: 8px 5px 8px 12px; border: 2px solid #679941; border-radius: 10px; width: 238px;">
																		<p style="padding: 9px 5px 7px 11px; font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0; line-height: 17px;">
																			Not yet. I&#x27;m going to get one this afternoon.   
																		</p>
																	</td>
																	<td style="padding: 19.5px 25px 0">
																		<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
																	</td>
																</tr>										
															</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>												
																	<td align="left" style="padding: 15.5px 25px 0">
																		<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
																	</td>
																	<td align="left" style="padding: 8px 5px 8px 12px; width: 238px; border: 2px solid 	#00BFFF; border-radius: 10px;">
																		<p style="font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0;">Would you mind going and picking an extra one up for me? </p>
																	</td>
																</tr>
															</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td style="padding: 8px 5px 8px 12px; border: 2px solid #679941; border-radius: 10px; width: 238px;">
																		<p style="padding: 9px 5px 7px 11px; font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0; line-height: 17px;">
																			That&#x27;s not really how that works...  
																		</p>
																	</td>
																	<td style="padding: 19.5px 25px 0">
																		<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
																	</td>
																</tr>										
															</table>
		</div>
		