
		<div class="content">
		<div class="details">
		Original release date: <span>Mon, 1 Jan 2018</span>
		</div>
<table width="100%" align="center">
																			<tr>
																				<td width="300" height="30" align="center">
																					<div align="left" style="font-family: verdana, arial; font-size: 15px; font-weight: bold; color:FFA800; padding-left: 20px;"><font color="#FFA800">
																					
																						
																							
																								<span style="font-family: verdana, arial; font-size: 15px; font-weight: bold; color:FFA800;"><font color="#FFA800"> Save 61%</font></span>
																							
																						
																					
																					</font></div>
																				</td>
																			</tr>
																			<tr>
																				<td width="300" align="center" height="325">
																					<a href="https://r.woot.com/gp/r.html?C=1LZQLJB2RSRME&K=3M33F8KYJWTD3&M=urn:rtn:msg:201801011230017d15cfed0c0e4d4a9a0d30a41900p0na&R=1QWKV78HYQTCA&T=C&U=https%3A%2F%2Felectronics.woot.com%2Foffers%2Finteractive-magic-monkey-your-choice%3Futm_campaign%3DDaily%2BDigest%2B01%2B01%2B18%26utm_content%3DA%26ref%3Deml%26utm_source%3DDaily%2BDigest%26utm_medium%3Demail%26utm_term%3Dbs_1%26utm_content%3DA_T_1%26ref_%3Dpe_3185080_267176730&H=TY9IREL2JCYS5MHJASAZVPCCOFEA&ref_=pe_3185080_267176730"><img src="https://d3gqasl9vmjfd8.cloudfront.net/6708f89d-1eda-4084-9953-48823169f650.jpg" width="250" alt="" style="display:block; border:0;" class="img-fix" /></a><br/>
																					<div style="font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 21px; color: #000000; line-height: 26px; Margin-bottom: 5px; ">
																						Interactive Magic Monkey (Your Choice)
																					</div>
																					<div style="font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 18px; color: #000000; line-height: 18px; Margin-bottom: 5px; ">
																						
																							<b style="font-family: helvetica; font-size: 20px;">$14.99</b>
																								
																								
																								
																								<span style="text-decoration: line-through; font-family: helvetica; font-size: 13px; color: #6A7075; letter-spacing: 0;">$39.00 List Price</span>
																							
																							
																							
																									
																					</div>
																				</td>
																			</tr>
																			<tr>
																				<td width="300" align="center">
																					<a href="https://r.woot.com/gp/r.html?C=1LZQLJB2RSRME&K=3M33F8KYJWTD3&M=urn:rtn:msg:201801011230017d15cfed0c0e4d4a9a0d30a41900p0na&R=1QWKV78HYQTCA&T=C&U=https%3A%2F%2Felectronics.woot.com%2Foffers%2Finteractive-magic-monkey-your-choice%3Futm_campaign%3DDaily%2BDigest%2B01%2B01%2B18%26utm_content%3DA%26ref%3Deml%26utm_source%3DDaily%2BDigest%26utm_medium%3Demail%26utm_term%3Dbs_1%26utm_content%3DA_T_1%26ref_%3Dpe_3185080_267176730&H=TY9IREL2JCYS5MHJASAZVPCCOFEA&ref_=pe_3185080_267176730"><img src="https://m.media-amazon.com/images/G/01/woot/emails/shop_now_button._V516257957_.png" border="0"/></a>
																				</td>
																			</tr>
																		</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>												
																	<td align="left" style="padding: 15.5px 25px 0">
																		<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
																	</td>
																	<td align="left" style="padding: 8px 5px 8px 12px; width: 238px; border: 2px solid 	#00BFFF; border-radius: 10px;">
																		<p style="font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0;">New year! New me! </p>
																	</td>
																</tr>
															</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td style="padding: 8px 5px 8px 12px; border: 2px solid #679941; border-radius: 10px; width: 238px;">
																		<p style="padding: 9px 5px 7px 11px; font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0; line-height: 17px;">
																			Oh yeah? Are you planning some big changes for 2018? 
																		</p>
																	</td>
																	<td style="padding: 19.5px 25px 0">
																		<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
																	</td>
																</tr>										
															</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>												
																	<td align="left" style="padding: 15.5px 25px 0">
																		<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
																	</td>
																	<td align="left" style="padding: 8px 5px 8px 12px; width: 238px; border: 2px solid 	#00BFFF; border-radius: 10px;">
																		<p style="font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0;">No, I just want everyone to call me by a cool new nickname</p>
																	</td>
																</tr>
															</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td style="padding: 8px 5px 8px 12px; border: 2px solid #679941; border-radius: 10px; width: 238px;">
																		<p style="padding: 9px 5px 7px 11px; font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0; line-height: 17px;">
																			What nickname is that? 
																		</p>
																	</td>
																	<td style="padding: 19.5px 25px 0">
																		<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
																	</td>
																</tr>										
															</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>												
																	<td align="left" style="padding: 15.5px 25px 0">
																		<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
																	</td>
																	<td align="left" style="padding: 8px 5px 8px 12px; width: 238px; border: 2px solid 	#00BFFF; border-radius: 10px;">
																		<p style="font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0;">You can&#x27;t give yourself a nickname, Monte. Everyone knows that. </p>
																	</td>
																</tr>
															</table>
		</div>
		