
		<div class="content">
		<div class="details">
		Original release date: <span>Fri, 2 Feb 2018</span>
		</div>
<table width="100%" align="center">
																			<tr>
																				<td width="300" height="30" align="center">
																					<div align="left" style="font-family: verdana, arial; font-size: 15px; font-weight: bold; color:FFA800; padding-left: 20px;"><font color="#FFA800">
																					
																						
																							
																								<span style="font-family: verdana, arial; font-size: 15px; font-weight: bold; color:FFA800;"><font color="#FFA800"> Save 57%</font></span>
																							
																						
																					
																					</font></div>
																				</td>
																			</tr>
																			<tr>
																				<td width="300" align="center" height="325">
																					<a href="https://r.woot.com/gp/r.html?C=Y5FV8NOLCIIK&K=3M33F8KYJWTD3&M=urn:rtn:msg:20180202124242040ad56eb8994dc8943fb71ed0b0p0na&R=1QWKV78HYQTCA&T=C&U=https%3A%2F%2Fhome.woot.com%2Foffers%2Fswinging-monkey-products-giant-mat-platform-swing%3Futm_campaign%3DDaily%2BDigest%2B02%2B02%2B18%26utm_content%3DA%26ref%3Deml%26utm_source%3DDaily%2BDigest%26utm_medium%3Demail%26utm_term%3Dp_3%26utm_content%3DA_T_3%26ref_%3Dpe_3185080_270805930&H=8ZOLAJZDE8ADAMOAXOZR16A4I3SA&ref_=pe_3185080_270805930"><img src="https://d3gqasl9vmjfd8.cloudfront.net/f772cb88-373f-4275-ba07-8d32fc353497.jpg" width="250" alt="" style="display:block; border:0;" class="img-fix" /></a><br/>
																					<div style="font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 21px; color: #000000; line-height: 26px; Margin-bottom: 5px; ">
																						Swinging Monkey Products Giant Mat Platform Swing
																					</div>
																					<div style="font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 18px; color: #000000; line-height: 18px; Margin-bottom: 5px; ">
																						
																						<b style="font-family: helvetica; font-size: 20px;">$49.99</b>
																							
																							
																							
																							<span style="text-decoration: line-through; font-family: helvetica; font-size: 13px; color: #6A7075; letter-spacing: 0;">$118.00 List Price</span>
																						
																						
																						
																					
																					<br/>									
																					</div>
																				</td>
																			</tr>
																			<tr>
																				<td width="300" align="center">
																				<a href="https://r.woot.com/gp/r.html?C=Y5FV8NOLCIIK&K=3M33F8KYJWTD3&M=urn:rtn:msg:20180202124242040ad56eb8994dc8943fb71ed0b0p0na&R=1QWKV78HYQTCA&T=C&U=https%3A%2F%2Fhome.woot.com%2Foffers%2Fswinging-monkey-products-giant-mat-platform-swing%3Futm_campaign%3DDaily%2BDigest%2B02%2B02%2B18%26utm_content%3DA%26ref%3Deml%26utm_source%3DDaily%2BDigest%26utm_medium%3Demail%26utm_term%3Dp_3%26utm_content%3DA_T_3%26ref_%3Dpe_3185080_270805930&H=8ZOLAJZDE8ADAMOAXOZR16A4I3SA&ref_=pe_3185080_270805930"><img src="https://m.media-amazon.com/images/G/01/woot/emails/shop_now_button._V516257957_.png" border="0"/></a>	
																				</td>
																			</tr>
																		</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>												
																	<td align="left" style="padding: 15.5px 25px 0">
																		<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
																	</td>
																	<td align="left" style="padding: 8px 5px 8px 12px; width: 238px; border: 2px solid 	#00BFFF; border-radius: 10px;">
																		<p style="font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0;">Monte, the TV&#x27;s broken.</p>
																	</td>
																</tr>
															</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td style="padding: 8px 5px 8px 12px; border: 2px solid #679941; border-radius: 10px; width: 238px;">
																		<p style="padding: 9px 5px 7px 11px; font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0; line-height: 17px;">
																			We&#x27;ve been over this: just because the remote is lost, doesn&#x27;t mean the TV is broken. 
																		</p>
																	</td>
																	<td style="padding: 19.5px 25px 0">
																		<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
																	</td>
																</tr>										
															</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>												
																	<td align="left" style="padding: 15.5px 25px 0">
																		<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
																	</td>
																	<td align="left" style="padding: 8px 5px 8px 12px; width: 238px; border: 2px solid 	#00BFFF; border-radius: 10px;">
																		<p style="font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0;">Yeah but it&#x27;s easier to just buy a new one than it is to look for the remote.</p>
																	</td>
																</tr>
															</table>
		</div>
		