
		<div class="content">
		<div class="details">
		Original release date: <span>Thu, 5 Apr 2018</span>
		</div>
<table cellpadding="0" cellspacing="0" border="0">
																<tr>												
																	<td align="left" style="padding: 15.5px 25px 0">
																		<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
																	</td>
																	<td align="left" style="padding: 8px 5px 8px 12px; width: 238px; border: 2px solid 	#00BFFF; border-radius: 10px;">
																		<p style="font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0;">Monte, we have got to talk about your fashion choices... </p>
																	</td>
																</tr>
															</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td style="padding: 8px 5px 8px 12px; border: 2px solid #679941; border-radius: 10px; width: 238px;">
																		<p style="padding: 9px 5px 7px 11px; font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0; line-height: 17px;">
																			What&#x27;s wrong with the way I dress? I think I look nice!  
																		</p>
																	</td>
																	<td style="padding: 19.5px 25px 0">
																		<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
																	</td>
																</tr>										
															</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>												
																	<td align="left" style="padding: 15.5px 25px 0">
																		<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
																	</td>
																	<td align="left" style="padding: 8px 5px 8px 12px; width: 238px; border: 2px solid 	#00BFFF; border-radius: 10px;">
																		<p style="font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0;">You&#x27;ve got no pizazz! You&#x27;ve got no glamour! </p>
																	</td>
																</tr>
															</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td style="padding: 8px 5px 8px 12px; border: 2px solid #679941; border-radius: 10px; width: 238px;">
																		<p style="padding: 9px 5px 7px 11px; font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0; line-height: 17px;">
																			Well, I suppose I could stand to get a few new capes.  
																		</p>
																	</td>
																	<td style="padding: 19.5px 25px 0">
																		<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
																	</td>
																</tr>										
															</table><table cellpadding="0" cellspacing="0" border="0">
																<tr>												
																	<td align="left" style="padding: 15.5px 25px 0">
																		<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
																	</td>
																	<td align="left" style="padding: 8px 5px 8px 12px; width: 238px; border: 2px solid 	#00BFFF; border-radius: 10px;">
																		<p style="font-family: Helvetica; font-size: 14px; color: #4A4A4A; letter-spacing: 0;">I&#x27;m glad to hear you say that, Monte... Because I accidentally shrank all of your old ones in the washing machine. </p>
																	</td>
																</tr>
															</table>
		</div>
		