
		<div class="content">
		<div class="details">
		Original release date: <span>Sun, 17 Jun 2018</span>
		</div>
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="left" style="padding:15.5px 25px 0">
<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
</td>
<td align="left" style="padding:8px 5px 8px 12px;width:238px;border:2px solid #00bfff;border-radius:10px">
<p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0">I&#x27;m One Spunky Monkey, Jasper!</p>
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td style="padding:8px 5px 8px 12px;border:2px solid #679941;border-radius:10px;width:238px">
<p style="padding:9px 5px 7px 11px;font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0;line-height:17px">
Wait, what?
</p>
</td>
<td style="padding:19.5px 25px 0">
<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="left" style="padding:15.5px 25px 0">
<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
</td>
<td align="left" style="padding:8px 5px 8px 12px;width:238px;border:2px solid #00bfff;border-radius:10px">
<p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0">I&#x27;m trying out new catchphrase ideas. I&#x27;m One Spunky Monkey, Jasper!</p>
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td style="padding:8px 5px 8px 12px;border:2px solid #679941;border-radius:10px;width:238px">
<p style="padding:9px 5px 7px 11px;font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0;line-height:17px">
But you don&#x27;t know anybody named Jasper.
</p>
</td>
<td style="padding:19.5px 25px 0">
<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="left" style="padding:15.5px 25px 0">
<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
</td>
<td align="left" style="padding:8px 5px 8px 12px;width:238px;border:2px solid #00bfff;border-radius:10px">
<p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0">You&#x27;re just jealous because you don&#x27;t have a catchphrase.  You should get one.</p>
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td style="padding:8px 5px 8px 12px;border:2px solid #679941;border-radius:10px;width:238px">
<p style="padding:9px 5px 7px 11px;font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0;line-height:17px">
You&#x27;re an idiot, Mortimer.
</p>
</td>
<td style="padding:19.5px 25px 0">
<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="left" style="padding:15.5px 25px 0">
<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
</td>
<td align="left" style="padding:8px 5px 8px 12px;width:238px;border:2px solid #00bfff;border-radius:10px">
<p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0">That&#x27;s a good one!</p>
</td>
</tr>
</table>
		</div>
		