
		<div class="content">
		<div class="details">
		Original release date: <span>Thu, 12 Jul 2018</span>
		</div>
<table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Arial,Helvetica,sans-serif;color:#000;text-align:left">
<tr>
<td colspan="2" style="font-size:14px;font-weight:bold;padding-bottom:10px" align="left" class="font-18">
<a href="https://r.woot.com/gp/r.html?C=2I1GP2YZPBV8Z&K=3M33F8KYJWTD3&M=urn:rtn:msg:20180712074550961726c507a24d2fba99bd44bd30p0na&R=1QWKV78HYQTCA&T=C&U=https%3A%2F%2Fshirt.woot.com%2F%3Futm_campaign%3DDaily%2BDigest%2B12%2B07%2B18%26utm_content%3DA%26ref%3Deml%26utm_source%3DDaily%2BDigest%26utm_medium%3Demail%26utm_term%3Dsh_1%26utm_content%3DCurrent-P-1%26ref_%3Dpe_3185080_292085180&H=GGW2SUPVSAF4D1QAOAEEQKX5Z8CA&ref_=pe_3185080_292085180" style="text-decoration:none;color:#bebebe" target="_blank">in Woot Shirt</a>
</td>
</tr>
<tr>
<td colspan="2" style="font-size:21px;font-weight:bold" align="left" class="font-21">
<a href="https://r.woot.com/gp/r.html?C=2I1GP2YZPBV8Z&K=3M33F8KYJWTD3&M=urn:rtn:msg:20180712074550961726c507a24d2fba99bd44bd30p0na&R=1QWKV78HYQTCA&T=C&U=https%3A%2F%2Fshirt.woot.com%2Foffers%2Flegend-of-the-monkey-king%3Futm_campaign%3DDaily%2BDigest%2B12%2B07%2B18%26utm_content%3DA%26ref%3Deml%26utm_source%3DDaily%2BDigest%26utm_medium%3Demail%26utm_term%3Dsh_1%26utm_content%3DCurrent-P-1%26ref_%3Dpe_3185080_292085180&H=KJI5LV2AA43JP5WSAJCWOU8K5XOA&ref_=pe_3185080_292085180" style="text-decoration:none;color:#333" target="_blank">Shirt.Woot Woot-Off!</a>
</td>
</tr>
<tr>
<td align="left" style="color:#bebebe;font-size:13px;padding-right:10px;padding-top:5px">
<span style="font-size:26px;color:#000;text-decoration:none;font-weight:bold">
<span style="text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:26px;color:#000000;letter-spacing:0">
<b style="font-family:Arial,Helvetica,sans-serif;font-size:26px">
$?</b>
</span>
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="left" style="padding:15.5px 25px 0">
<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
</td>
<td align="left" style="padding:8px 5px 8px 12px;width:238px;border:2px solid #00bfff;border-radius:10px">
<p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0">Happpy Birthday, Monte!</p>
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td style="padding:8px 5px 8px 12px;border:2px solid #679941;border-radius:10px;width:238px">
<p style="padding:9px 5px 7px 11px;font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0;line-height:17px">
Thanks, Mortimer! Same to you!
</p>
</td>
<td style="padding:19.5px 25px 0">
<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="left" style="padding:15.5px 25px 0">
<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
</td>
<td align="left" style="padding:8px 5px 8px 12px;width:238px;border:2px solid #00bfff;border-radius:10px">
<p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0">Wow, 14 years and you&#x27;re still putting up with me.</p>
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td style="padding:8px 5px 8px 12px;border:2px solid #679941;border-radius:10px;width:238px">
<p style="padding:9px 5px 7px 11px;font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0;line-height:17px">
I credit caffeine and deep breathing exercises...
</p>
</td>
<td style="padding:19.5px 25px 0">
<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
</td>
</tr>
</table>
		</div>
		