
		<div class="content">
		<div class="details">
		Original release date: <span>Wed, 3 Oct 2018</span>
		</div>
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="left" style="padding:15.5px 25px 0">
<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
</td>
<td align="left" style="padding:8px 5px 8px 12px;width:238px;border:2px solid #00bfff;border-radius:10px">
<p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0">PICK one, people!</p>
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td style="padding:8px 5px 8px 12px;border:2px solid #679941;border-radius:10px;width:238px">
<p style="padding:9px 5px 7px 11px;font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0;line-height:17px">
Pick what, monkey?
</p>
</td>
<td style="padding:19.5px 25px 0">
<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="left" style="padding:15.5px 25px 0">
<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
</td>
<td align="left" style="padding:8px 5px 8px 12px;width:238px;border:2px solid #00bfff;border-radius:10px">
<p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0">Pancakes, flapjacks, griddlecakes, hotcakes, it&#x27;s too much!</p>
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td style="padding:8px 5px 8px 12px;border:2px solid #679941;border-radius:10px;width:238px">
<p style="padding:9px 5px 7px 11px;font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0;line-height:17px">
I guess you&#x27;re &quot;flipping&quot; out, huh?
</p>
</td>
<td style="padding:19.5px 25px 0">
<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="left" style="padding:15.5px 25px 0">
<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
</td>
<td align="left" style="padding:8px 5px 8px 12px;width:238px;border:2px solid #00bfff;border-radius:10px">
<p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0">...</p>
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td style="padding:8px 5px 8px 12px;border:2px solid #679941;border-radius:10px;width:238px">
<p style="padding:9px 5px 7px 11px;font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0;line-height:17px">
Heh.
</p>
</td>
<td style="padding:19.5px 25px 0">
<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="left" style="padding:15.5px 25px 0">
<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
</td>
<td align="left" style="padding:8px 5px 8px 12px;width:238px;border:2px solid #00bfff;border-radius:10px">
<p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0">What have I told you about hijacking my setups with half-baked and ultimately nonsensical punchlines.</p>
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td style="padding:8px 5px 8px 12px;border:2px solid #679941;border-radius:10px;width:238px">
<p style="padding:9px 5px 7px 11px;font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0;line-height:17px">
But-
</p>
</td>
<td style="padding:19.5px 25px 0">
<img width="85px;" height="90px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/monte-2.png" />
</td>
</tr>
</table><table cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="left" style="padding:15.5px 25px 0">
<img width="79px;" height="84px;" src="http://g-ec2.images-amazon.com/images/G/01/woot/emails/acquisition/mortimer-2.png" />
</td>
<td align="left" style="padding:8px 5px 8px 12px;width:238px;border:2px solid #00bfff;border-radius:10px">
<p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#4a4a4a;letter-spacing:0">That&#x27;s a day in the Box.</p>
</td>
</tr>
</table>
		</div>
		