
		<div class="content">
		<div class="details">
		Original release date: <span>Thu, 18 Jul 2019</span>
		</div>
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;"><tbody><tr><td style="width:290px;"><a href="https://r.woot.com/gp/r.html?C=3N102HKWFMINK&K=3M33F8KYJWTD3&M=urn:rtn:msg:20190718060534d2c664e88e214cc281b0ee99ed50p0na&R=U6PT3HFLPNHI&T=C&U=https%3A%2F%2Ftools.woot.com%2Fplus%2Fmonkey-bars-bike-storage-1%3Futm_campaign%3DDaily%2BDigest%2B18%2B07%2B19%26ref%3Deml%26utm_source%3DDaily%2BDigest%26utm_medium%3Demail%26utm_term%3Dp_2%26utm_content%3DSubheader-B%26ref_%3Dpe_3185080_421350570&H=5AIGHGM23A6HRXAQQO7WJCTLDDYA&ref_=pe_3185080_421350570" target="_blank"><img height="auto" src="https://d3gqasl9vmjfd8.cloudfront.net/b9c66fac-d773-42c6-98ae-83e7e2c9fb45.jpg" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;" width="290"></a></td></tr></tbody></table>
		</div>
		