
<div class="content">
<div class="details">
Original release date: <span>Thu, 5 Dec 2019</span>
</div>
<table cellpadding="0" cellspacing="0" width="100%">
													<tr>
														<td align="center" valign="top" style="padding: 0px 0px 0px 0px;">
															<a href="https://r.woot.com/gp/r.html?C=39DBR2OB7YAUT&K=3M33F8KYJWTD3&M=urn:rtn:msg:20191205181649716a66c33b6a4860bbf86aaeb950p0na&R=23WVMFXJ2HKWD&T=C&U=https%3A%2F%2Fwww.woot.com%3F%26utm_medium%3Demail%26utm_source%3DNewsletter%26utm_campaign%3D457124530-MonkeyBusiness-Newsletter-2019-12-05-Mass%26utm_content%3DNewsletter-MonkeyBiz-1205-Header%26ref_%3Dpe_3323880_457124530&H=OGSJNXFQBP1EG9VDC3ULD8DCF1YA&ref_=pe_3323880_457124530"><img src="https://m.media-amazon.com/images/G/01/woot/emails/newsletter/2019-04-19-Targeted-Newsletter-Sports-Header-01._CB1555438468_.png" alt="Woot.com" style="display:block; border:0; width:100%;" class="img-fix" /></a>
														</td>
													</tr>	
													<tr>
														<td align="center" valign="top" style="padding: 0px 0px 0px 0px;">
															<a href="https://r.woot.com/gp/r.html?C=39DBR2OB7YAUT&K=3M33F8KYJWTD3&M=urn:rtn:msg:20191205181649716a66c33b6a4860bbf86aaeb950p0na&R=2RUG0MG0YOFMS&T=C&U=https%3A%2F%2Fsellout.woot.com%2Fplus%2Fmort-montes-monkey-business%3F%26utm_medium%3Demail%26utm_source%3DNewsletter%26utm_campaign%3D457124530-MonkeyBusiness-Newsletter-2019-12-05-Mass%26utm_content%3DNewsletter-MonkeyBiz-1205-Hero-MKBiz%26ref_%3Dpe_3323880_457124530&H=27RQFCCI14QKCSTCAUCFVGC5AC0A&ref_=pe_3323880_457124530"><img src="https://m.media-amazon.com/images/G/01/woot/emails/newsletter/2019-12-05-Mass-Newsletter-MonkeyBiz-Liquidation-MKBiz._CB1575323047_.gif" alt="Monkey Business" style="display:block; border:0; width:100%;" class="img-fix" /></a>
														</td>
													</tr>
													<tr>
														<td align="center" valign="top" style="padding: 0px 0px 0px 0px;">
															<a href="https://r.woot.com/gp/r.html?C=39DBR2OB7YAUT&K=3M33F8KYJWTD3&M=urn:rtn:msg:20191205181649716a66c33b6a4860bbf86aaeb950p0na&R=21L2E7J21GWE6&T=C&U=https%3A%2F%2Fforums.woot.com%2Ft%2F10-days-of-giveaways-12-5-12-14%2F497124%3F%26utm_medium%3Demail%26utm_source%3DNewsletter%26utm_campaign%3D457124530-MonkeyBusiness-Newsletter-2019-12-05-Mass%26utm_content%3DNewsletter-MonkeyBiz-1205-giveaway%26ref_%3Dpe_3323880_457124530&H=KA32NVRQGB8GV6QZRUBTMIL3BF8A&ref_=pe_3323880_457124530"><img src="https://m.media-amazon.com/images/G/01/woot/emails/newsletter/2019-12-05-Mass-Newsletter-MonkeyBiz-Entertowin-v2._CB1575331785_.png" alt="Woot Giveaway" style="display:block; border:0; width:100%;" class="img-fix" /></a>
														</td>
													</tr>													
													<tr>
														<td align="center" valign="top" style="padding: 0px 0px 0px 0px;">
															<a href="https://r.woot.com/gp/r.html?C=39DBR2OB7YAUT&K=3M33F8KYJWTD3&M=urn:rtn:msg:20191205181649716a66c33b6a4860bbf86aaeb950p0na&R=2154OP80I2L0T&T=C&U=https%3A%2F%2Fsellout.woot.com%2Fplus%2Fliquidation-sale-3%3F%26utm_medium%3Demail%26utm_source%3DNewsletter%26utm_campaign%3D457124530-MonkeyBusiness-Newsletter-2019-12-05-Mass%26utm_content%3DNewsletter-MonkeyBiz-1205-Hero%26ref_%3Dpe_3323880_457124530&H=NGO3CDLZVYHHJTAZU6AAC708LQ4A&ref_=pe_3323880_457124530"><img src="https://m.media-amazon.com/images/G/01/woot/emails/newsletter/2019-12-05-Mass-Newsletter-MonkeyBiz-Liquidation-Hero-v2._CB1575326855_.png" alt="Holiday Hero" style="display:block; border:0; width:100%;" class="img-fix" /></a>
														</td>
													</tr>
													<tr>
														<td align="center" valign="top" style="padding: 0px 0px 0px 0px;">
															<a href="https://r.woot.com/gp/r.html?C=39DBR2OB7YAUT&K=3M33F8KYJWTD3&M=urn:rtn:msg:20191205181649716a66c33b6a4860bbf86aaeb950p0na&R=PQU1ZWE2C04Q&T=C&U=https%3A%2F%2Fsellout.woot.com%2Fplus%2Fhome-liquidation-sale%3F%26utm_medium%3Demail%26utm_source%3DNewsletter%26utm_campaign%3D457124530-MonkeyBusiness-Newsletter-2019-12-05-Mass%26utm_content%3DNewsletter-MonkeyBiz-1205-Home%26ref_%3Dpe_3323880_457124530&H=AQNFQXIY01QIGFUVCG5F96FRN2MA&ref_=pe_3323880_457124530"><img src="https://m.media-amazon.com/images/G/01/woot/emails/newsletter/2019-12-05-Mass-Newsletter-MonkeyBiz-Liquidation-Home._CB1575322635_.png" alt="Home" style="display:block; border:0; width:100%;" class="img-fix" /></a>
														</td>
													</tr>
													<tr>
														<td align="center" valign="top" style="padding: 0px 0px 0px 0px;">
															<a href="https://r.woot.com/gp/r.html?C=39DBR2OB7YAUT&K=3M33F8KYJWTD3&M=urn:rtn:msg:20191205181649716a66c33b6a4860bbf86aaeb950p0na&R=1WY920ZKS5VG6&T=C&U=https%3A%2F%2Fsellout.woot.com%2Fplus%2Felectronics-liquidation-sale%3F%26utm_medium%3Demail%26utm_source%3DNewsletter%26utm_campaign%3D457124530-MonkeyBusiness-Newsletter-2019-12-05-Mass%26utm_content%3DNewsletter-MonkeyBiz-1205-Electronics%26ref_%3Dpe_3323880_457124530&H=GGGZX4A6KM5CO3LWBKFYQ0C0VAIA&ref_=pe_3323880_457124530"><img src="https://m.media-amazon.com/images/G/01/woot/emails/newsletter/2019-12-05-Mass-Newsletter-MonkeyBiz-Liquidation-Electronics._CB1575322635_.png" alt="Electronics" style="display:block; border:0; width:100%;" class="img-fix" /></a>
														</td>
													</tr>													
													<tr>
														<td align="center" valign="top" style="padding: 0px 0px 0px 0px;">
															<a href="https://r.woot.com/gp/r.html?C=39DBR2OB7YAUT&K=3M33F8KYJWTD3&M=urn:rtn:msg:20191205181649716a66c33b6a4860bbf86aaeb950p0na&R=3R93D7UFTO5PV&T=C&U=https%3A%2F%2Fsellout.woot.com%2Fplus%2Ftools-garden-liquidation-sale%3F%26utm_medium%3Demail%26utm_source%3DNewsletter%26utm_campaign%3D457124530-MonkeyBusiness-Newsletter-2019-12-05-Mass%26utm_content%3DNewsletter-MonkeyBiz-1205-Tools%26ref_%3Dpe_3323880_457124530&H=MDKQIGJGJHMTD7RACAUXDL96ULQA&ref_=pe_3323880_457124530"><img src="https://m.media-amazon.com/images/G/01/woot/emails/newsletter/2019-12-05-Mass-Newsletter-MonkeyBiz-Liquidation-Tools._CB1575322635_.png" alt="Tools" style="display:block; border:0; width:100%;" class="img-fix" /></a>
														</td>
													</tr>
													<tr>
														<td align="center" valign="top" style="padding: 0px 0px 0px 0px;">
															<a href="https://r.woot.com/gp/r.html?C=39DBR2OB7YAUT&K=3M33F8KYJWTD3&M=urn:rtn:msg:20191205181649716a66c33b6a4860bbf86aaeb950p0na&R=2LKOX0M3J4QTH&T=C&U=https%3A%2F%2Fsellout.woot.com%2Fplus%2Fsports-liquidation-sale%3F%26utm_medium%3Demail%26utm_source%3DNewsletter%26utm_campaign%3D457124530-MonkeyBusiness-Newsletter-2019-12-05-Mass%26utm_content%3DNewsletter-MonkeyBiz-1205-Sports%26ref_%3Dpe_3323880_457124530&H=XDNQCWAV9DWAUPLS47UA3L1MGFAA&ref_=pe_3323880_457124530"><img src="https://m.media-amazon.com/images/G/01/woot/emails/newsletter/2019-12-05-Mass-Newsletter-MonkeyBiz-Liquidation-Sports._CB1575322634_.png" alt="Sports" style="display:block; border:0; width:100%;" class="img-fix" /></a>
														</td>
													</tr>
													<tr>
														<td align="center" valign="top" style="padding: 0px 0px 0px 0px;">
															<a href="https://r.woot.com/gp/r.html?C=39DBR2OB7YAUT&K=3M33F8KYJWTD3&M=urn:rtn:msg:20191205181649716a66c33b6a4860bbf86aaeb950p0na&R=2HZYN6OQV5Q3D&T=C&U=https%3A%2F%2Fsellout.woot.com%2Fplus%2Fcomputers-liquidation-sale%3F%26utm_medium%3Demail%26utm_source%3DNewsletter%26utm_campaign%3D457124530-MonkeyBusiness-Newsletter-2019-12-05-Mass%26utm_content%3DNewsletter-MonkeyBiz-1205-PCs%26ref_%3Dpe_3323880_457124530&H=WJUDQRTWLP9IDCN6HA097S2WNIWA&ref_=pe_3323880_457124530"><img src="https://m.media-amazon.com/images/G/01/woot/emails/newsletter/2019-12-05-Mass-Newsletter-MonkeyBiz-Liquidation-PC._CB1575322634_.png" alt="Computers" style="display:block; border:0; width:100%;" class="img-fix" /></a>
														</td>
													</tr>

													<tr>
														<td align="center" valign="top" style="padding: 0px 0px 0px 0px;">
															<a href="https://r.woot.com/gp/r.html?C=39DBR2OB7YAUT&K=3M33F8KYJWTD3&M=urn:rtn:msg:20191205181649716a66c33b6a4860bbf86aaeb950p0na&R=2UVEM3S50ZLTE&T=C&U=https%3A%2F%2Fhome.woot.com%2Fplus%2Fstocking-stuffers-4%3F%26utm_medium%3Demail%26utm_source%3DNewsletter%26utm_campaign%3D457124530-MonkeyBusiness-Newsletter-2019-12-05-Mass%26utm_content%3DNewsletter-MonkeyBiz-1205-StockingStuffers%26ref_%3Dpe_3323880_457124530&H=ZRR2PEJJJBVRVIGQJHNSATS8Q0UA&ref_=pe_3323880_457124530"><img src="https://m.media-amazon.com/images/G/01/woot/emails/newsletter/2019-12-05-Mass-Newsletter-MonkeyBiz-Liquidation-StockingStuffer._CB1575322634_.gif" alt="Stocking Stuffers" style="display:block; border:0; width:100%;" class="img-fix" /></a>
														</td>
													</tr>
													<tr>
														<td align="center" valign="top" style="padding: 0px 0px 0px 0px;">
															<a href="https://r.woot.com/gp/r.html?C=39DBR2OB7YAUT&K=3M33F8KYJWTD3&M=urn:rtn:msg:20191205181649716a66c33b6a4860bbf86aaeb950p0na&R=AUSZAAV54R6V&T=C&U=https%3A%2F%2Fwww.woot.com%2Falldeals%3FselectedSort%3DBESTSELLING%26utm_medium%3Demail%26utm_source%3DNewsletter%26utm_campaign%3D457124530-MonkeyBusiness-Newsletter-2019-12-05-Mass%26utm_content%3DNewsletter-MonkeyBiz-1205-AllDeals%26ref_%3Dpe_3323880_457124530&H=GPZSLBLE88VKAPKJ4H0A4HW1CYGA&ref_=pe_3323880_457124530"><img src="https://m.media-amazon.com/images/G/01/woot/emails/newsletter/2019-09-10-Garage-Sale-All-Deals-09._CB1567719987_.png" alt="View All Deals" style="display:block; border:0; width:100%;" class="img-fix" /></a>
														</td>
													</tr>
													<tr>
														<td align="center" valign="top" style="padding: 0px 0px 10px 0px;">
															<a href="https://r.woot.com/gp/r.html?C=39DBR2OB7YAUT&K=3M33F8KYJWTD3&M=urn:rtn:msg:20191205181649716a66c33b6a4860bbf86aaeb950p0na&R=88RLSEBN7G30&T=C&U=https%3A%2F%2Fforums.woot.com%2Ft%2Fwoot-has-a-new-app%2F353615%3F%26utm_medium%3Demail%26utm_source%3DNewsletter%26utm_campaign%3D457124530-MonkeyBusiness-Newsletter-2019-12-05-Mass%26utm_content%3DNewsletter-MonkeyBiz-1205-App%26ref_%3Dpe_3323880_457124530&H=IAMNGQUWRHQ9OSQV6D5HJAASA6UA&ref_=pe_3323880_457124530"><img src="https://m.media-amazon.com/images/G/01/woot/emails/newsletter/2019-Targeted-Newsletter-APP._CB1554852746_.png" alt="Mobile App" style="display:block; border:0; width:100%;" class="img-fix" /></a>
														</td>
													</tr>																							
												</table>
</div>
